
footer {
background-color: #723823;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 30px;
margin-bottom: 0px;
color: #ffb977;
padding-top: 20px;
padding-bottom: 20px;
font-family: kollektif;

}