.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #F8AE67;
    font-family: kollektif;
}

.tituloCentral{
    background-color: #968e8b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: kollektif;
}