* {
    margin: 0 0 0 0; 
    text-decoration: none;
}

body {
    background: #5F2E1C
}

@font-face {
   font-family:'kollektif'; /* escolha um nome para a fonte */
   src: url('../assets/fonts/kollektif.ttf'); /* especifique o caminho para a fonte */
 }
 