.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #030200;
    font-family: kollektif;
    background-color: #bd844e;
}

.tituloCentral{
    background-color: #d5d7d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: kollektif;
}